@charset "UTF-8";
/* line 10, ../../sass/general/page-components.scss */
.btn.dark {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(100%, black));
  background: -webkit-linear-gradient(top, #555555, black);
  background: -moz-linear-gradient(top, #555555, black);
  -pie-background: linear-gradient(top, #555555, black);
  background: linear-gradient(top, #555555, black);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  font-family: ProximaNova,sans-serif;
  line-height: 1;
  overflow: hidden;
  padding: 10px 18px;
  text-transform: uppercase;
}
/* line 27, ../../sass/general/page-components.scss */
.btn.dark:hover {
  background: #222222;
  color: white;
}
/* line 32, ../../sass/general/page-components.scss */
.btn.light {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(100%, whitesmoke));
  background: -webkit-linear-gradient(top, white, whitesmoke);
  background: -moz-linear-gradient(top, white, whitesmoke);
  -pie-background: linear-gradient(top, white, whitesmoke);
  background: linear-gradient(top, white, whitesmoke);
  border-color: #f2f2f2 #f2f2f2 #cccccc #f2f2f2;
  border-style: solid;
  border-width: 1px;
  background: linear-gradient(top, #555555, black);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  color: #333333;
  font-family: ProximaNova,sans-serif;
  font-weight: 500;
  line-height: 1;
  overflow: hidden;
  padding: 10px 18px;
  text-transform: uppercase;
}
/* line 54, ../../sass/general/page-components.scss */
.btn.light:hover {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(100%, #ebebeb));
  background: -webkit-linear-gradient(top, white, #ebebeb);
  background: -moz-linear-gradient(top, white, #ebebeb);
  -pie-background: linear-gradient(top, white, #ebebeb);
  background: linear-gradient(top, white, #ebebeb);
  color: #333333;
}

/* line 67, ../../sass/general/page-components.scss */
.small-space {
  margin: 10px 0;
}

/* line 70, ../../sass/general/page-components.scss */
.med-space {
  margin: 20px 0;
}

/* line 73, ../../sass/general/page-components.scss */
.large-space {
  margin: 40px 0;
}
