@media (max-width: 480px) {
  /* line 7, ../../sass/general/typography-mobile.scss */
  body {
    font-size: 14px;
    line-height: 20px;
  }

  /* Headings
  -------------------------------------------------------------- */
  /* line 13, ../../sass/general/typography-mobile.scss */
  h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
  }

  /* line 17, ../../sass/general/typography-mobile.scss */
  h1 {
    font-size: 20px;
    color: #cc0000;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 25px;
  }

  /* line 24, ../../sass/general/typography-mobile.scss */
  h2 {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 25px;
  }

  /* line 29, ../../sass/general/typography-mobile.scss */
  h3 {
    font-size: 18px;
    line-height: 25px;
  }

  /* line 33, ../../sass/general/typography-mobile.scss */
  h4 {
    font-size: 16px;
    line-height: 20px;
  }

  /* line 37, ../../sass/general/typography-mobile.scss */
  h5 {
    font-size: 14px;
    line-height: 20px;
  }

  /* line 41, ../../sass/general/typography-mobile.scss */
  h6 {
    font-size: 14px;
    line-height: 20px;
  }

  /* Text elements
  -------------------------------------------------------------- */
  /* line 49, ../../sass/general/typography-mobile.scss */
  p {
    font-size: 14px;
    line-height: 20px;
  }

  /* line 55, ../../sass/general/typography-mobile.scss */
  ul {
    list-style-type: circle;
  }

  /* line 56, ../../sass/general/typography-mobile.scss */
  ol {
    list-style-type: decimal;
  }

  /* line 59, ../../sass/general/typography-mobile.scss */
  dl dt {
    font-weight: bold;
  }

  /* line 62, ../../sass/general/typography-mobile.scss */
  abbr, acronym {
    border-bottom: 1px dotted #000;
  }

  /* line 63, ../../sass/general/typography-mobile.scss */
  address {
    margin-top: 1.5em;
    font-style: italic;
  }

  /* line 64, ../../sass/general/typography-mobile.scss */
  del {
    color: #000;
  }

  /* line 70, ../../sass/general/typography-mobile.scss */
  strong {
    font-weight: bold;
  }

  /* line 71, ../../sass/general/typography-mobile.scss */
  em, dfn {
    font-style: italic;
  }

  /* line 72, ../../sass/general/typography-mobile.scss */
  dfn {
    font-weight: bold;
  }

  /* Tables
  -------------------------------------------------------------- */
  /* line 79, ../../sass/general/typography-mobile.scss */
  th {
    border-bottom: 2px solid #ddd;
    font-weight: bold;
  }

  /* line 80, ../../sass/general/typography-mobile.scss */
  td {
    border-bottom: 1px solid #ddd;
  }

  /* line 81, ../../sass/general/typography-mobile.scss */
  th, td {
    padding: 4px 10px 4px 0;
  }

  /* line 82, ../../sass/general/typography-mobile.scss */
  tfoot {
    font-style: italic;
  }

  /* line 83, ../../sass/general/typography-mobile.scss */
  caption {
    background: #ffc;
  }

  /* Some default classes
  -------------------------------------------------------------- */
  /* line 89, ../../sass/general/typography-mobile.scss */
  .small {
    font-size: 12px;
  }

  /* line 90, ../../sass/general/typography-mobile.scss */
  .large {
    font-size: 18px;
  }

  /* line 93, ../../sass/general/typography-mobile.scss */
  .hide {
    display: none;
  }

  /* line 94, ../../sass/general/typography-mobile.scss */
  .highlight {
    background: #ffc;
  }
}
