/* line 5, ../../sass/general/typography copy.scss */
body {
  font-size: 18px;
  line-height: 25px;
}

/* Default fonts and colors. */
/* line 9, ../../sass/general/typography copy.scss */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, input, textarea {
  font-family: "ProximaNova", sans-serif;
  color: #222222;
}

/* Headings
-------------------------------------------------------------- */
/* line 15, ../../sass/general/typography copy.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

/* line 17, ../../sass/general/typography copy.scss */
h1 {
  font-size: 24px;
  color: #cc0000;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 30px;
}

/* line 24, ../../sass/general/typography copy.scss */
h2 {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 25px;
}

/* line 29, ../../sass/general/typography copy.scss */
h3 {
  font-size: 20px;
  line-height: 25px;
}

/* line 33, ../../sass/general/typography copy.scss */
h4 {
  font-size: 18px;
  line-height: 25px;
}

/* line 37, ../../sass/general/typography copy.scss */
h5 {
  font-size: 18px;
  line-height: 25px;
}

/* line 41, ../../sass/general/typography copy.scss */
h6 {
  font-size: 18px;
  line-height: 25px;
}

/* Text elements
-------------------------------------------------------------- */
/* line 51, ../../sass/general/typography copy.scss */
p {
  font-size: 18px;
  line-height: 25px;
}

/* line 57, ../../sass/general/typography copy.scss */
ul {
  list-style-type: circle;
}

/* line 58, ../../sass/general/typography copy.scss */
ol {
  list-style-type: decimal;
}

/* line 61, ../../sass/general/typography copy.scss */
dl dt {
  font-weight: bold;
}

/* line 64, ../../sass/general/typography copy.scss */
abbr, acronym {
  border-bottom: 1px dotted #000;
}

/* line 65, ../../sass/general/typography copy.scss */
address {
  margin-top: 1.5em;
  font-style: italic;
}

/* line 66, ../../sass/general/typography copy.scss */
del {
  color: #000;
}

/* line 72, ../../sass/general/typography copy.scss */
strong {
  font-weight: bold;
}

/* line 73, ../../sass/general/typography copy.scss */
em, dfn {
  font-style: italic;
}

/* line 74, ../../sass/general/typography copy.scss */
dfn {
  font-weight: bold;
}

/* Tables
-------------------------------------------------------------- */
/* line 81, ../../sass/general/typography copy.scss */
th {
  border-bottom: 2px solid #ddd;
  font-weight: bold;
}

/* line 82, ../../sass/general/typography copy.scss */
td {
  border-bottom: 1px solid #ddd;
}

/* line 83, ../../sass/general/typography copy.scss */
th, td {
  padding: 4px 10px 4px 0;
}

/* line 84, ../../sass/general/typography copy.scss */
tfoot {
  font-style: italic;
}

/* line 85, ../../sass/general/typography copy.scss */
caption {
  background: #ffc;
}

/* Some default classes
-------------------------------------------------------------- */
/* line 91, ../../sass/general/typography copy.scss */
.small {
  font-size: 12px;
}

/* line 92, ../../sass/general/typography copy.scss */
.large {
  font-size: 18px;
}

/* line 95, ../../sass/general/typography copy.scss */
.hide {
  display: none;
}

/* line 96, ../../sass/general/typography copy.scss */
.highlight {
  background: #ffc;
}
