// Grid

@import "variables";

$border-radius: 4px;


//Button
.btn {
	&.dark {
		background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
		background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $med-dark-gray), color-stop(100%, #000000));
		background: -webkit-linear-gradient(top, $med-dark-gray,#000000);
		background: -moz-linear-gradient(top, $med-dark-gray,#000000);
		-pie-background: linear-gradient(top, $med-dark-gray,#000000);
		background: linear-gradient(top, $med-dark-gray,#000000);
		-webkit-border-radius: $border-radius;
		-moz-border-radius: $border-radius;
		-ms-border-radius: $border-radius;
		border-radius: $border-radius;
		color: #fff;
		font-family: ProximaNova,sans-serif;
		line-height: 1;
		overflow: hidden;
		padding: 10px 18px;
		text-transform: uppercase;
		&:hover {
			background: $black;
			color: $white;
		}
	}
	&.light {
		background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
		background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
		background: -webkit-linear-gradient(top, #ffffff,#f5f5f5);
		background: -moz-linear-gradient(top, #ffffff,#f5f5f5);
		-pie-background: linear-gradient(top, #ffffff,#f5f5f5);
		background: linear-gradient(top, #ffffff,#f5f5f5);
		border-color: $light-gray $light-gray $med-light-gray $light-gray;
		border-style: solid;
		border-width: 1px;
		background: linear-gradient(top, #555555,#000000);
		-webkit-border-radius: $border-radius;
		-moz-border-radius: $border-radius;
		-ms-border-radius: $border-radius;
		border-radius: $border-radius;
		color: $dark-gray;
		font-family: ProximaNova,sans-serif;
		font-weight: 500;
		line-height: 1;
		overflow: hidden;
		padding: 10px 18px;
		text-transform: uppercase;
		&:hover {
			background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
			background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ebebeb));
			background: -webkit-linear-gradient(top, #ffffff,#ebebeb);
			background: -moz-linear-gradient(top, #ffffff,#ebebeb);
			-pie-background: linear-gradient(top, #ffffff,#ebebeb);
			background: linear-gradient(top, #ffffff,#ebebeb);
			color: $dark-gray;
		}
	}
}

//Spacing
.small-space {
	margin: 10px 0;
}
.med-space {
	margin: 20px 0;
}
.large-space{
	margin: 40px 0;
}