body { background:#f2f2f2; font-family:'ProximaNova',Helvetica,Arial,Sans-Serif; font-weight:400; font-size:14px; -webkit-font-smoothing: antialiased; }
a { color:#666; -moz-transition: color 0.2s ease; -webkit-transition: color 0.2s ease; transition: color 0.2s ease; }
a.underline { text-decoration:underline; }
a:hover { color:#000; }


/* #1B535C */


/* Reusabled Styles */
::-webkit-input-placeholder  { color:#CCC; }
input:-moz-placeholder { color:#CCC; }

.main-body { background:#fff; min-height:500px; padding:80px 0 50px 0; margin-top: 25px;}
.container { margin:0 auto; width:980px; }
.clear { clear:both; }
.flt-rgt { float:right; }
.flt-lft { float:left; }
.text-left { text-align:left; }
.brand-red { color:#C00; }
input { font-family:'ProximaNova',Helvetica,Arial,Sans-Serif;  }
strong { font-weight:600; }
.grid { background-image:url(../img/layout/grid.png); background-position:center top; background-repeat:repeat-y; }

/* Header Section Styles */
header { left:0px; position:fixed; top:0px; width:100%; z-index:9999; }

/* Global Banner along the top of the screen */ 	
	.global-promotion { background:#C00; clear:both; color:#fff; display:block; font-size:16px; font-weight:500; height:30px; line-height:32px; margin:-30px 0 0 0; overflow:hidden; text-align:center; text-transform:uppercase; width:100%; }
		.global-promotion a { color:#fff; }
		.global-promotion strong { color:#fff; font-weight:600; padding:0 10px; }
		.global-promotion u { color:#ddd; font-size:14px; padding:0 10px; text-decoration:underline;}
		.global-promotion-close { display:block;float:right; height:20px; padding:0; position:fixed; top:5px; right:3px; width:20px; }
			.global-promotion-close img { -webkit-transform: rotate(45deg); transition:all 0.5s ease; -webkit-transition:all 0.5s ease; -moz-transition:all 0.5s ease; }

/* Account Menu Styles */ 
	menu { background:#000; color:#CCC; float:right; line-height:20px; text-align:right; width:100%; }
		menu .container { padding:0 5px 0 0; }
			menu a { color:#fff; display:inline-block; font-size:12px; font-weight:600; padding:2px 7px;}
				menu a:hover { color:#fff; }
			menu a img { float:left; margin:4px 5px 0 0; }
			
/* Navigation Menu styles */ 
	nav { background:#fdfdfd; border-bottom:solid 5px #f2f2f2; clear:left; float:left; width:100%; }
		
		nav .brand { float:left; width:145px; }
			nav .brand a { background:url(../img/layout/logo-retina.png) no-repeat left center; background-size:134px 34px; display:block; height:55px; }
		
		nav .search { float:left; padding:10px 10px 8px 10px; }
			.search input[type="text"] { background:#f4f4f4; border:solid 1px #ccc; box-shadow:inset 1px 1px 3px rgba(0,0,0,0.2); float:left; font-size:14px; font-weight:400; margin:0 -1px 0 0; padding:11px 10px 8px 7px; width: 193px; -webkit-border-top-left-radius:3px; -webkit-border-bottom-left-radius:3px; -moz-transition: all 0.6s ease; -webkit-transition: all 0.6s ease; transition: all 0.6s ease; }
			.search input[type="text"]:focus { background:#fff; box-shadow:inset 1px 1px 1px rgba(0,0,0,0.1); }
			.search input[type="submit"] { background:#000 url(../img/layout/magnifying-white.png) center center no-repeat; background-size:14px 14px; border:none; cursor:pointer; float:right; margin:0 0 0 -1px; padding:12px 17px; -webkit-border-top-right-radius:3px; -webkit-border-bottom-right-radius:3px; }
			
		nav .flyouts { float:left; width:515px; -moz-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }
			.flyouts ul.primary-wrapper { display:table; width:100%; }
			.flyouts li.primary { display:table-cell; }
			.flyouts a.category { color:#000; display:block; font-size:16px; line-height:50px; margin:0 0 0 -1px; padding:2px 10px; text-align:center; }
				.flyouts li:hover a.category { background:#f0f0f0; -webkit-transition: all 0.2s ease 0.15s; -moz-transition: all 0.1s ease 0.15s; transition: all 0.1s ease 0.15s; }

			.flyouts a.sale { color:#CA2926; }
			
			.cart { float:left; }
			.cart a.cart-main { background:#000; background: -moz-linear-gradient(top, #404040 0%, #000); background: -webkit-gradient(linear, left top, left bottom, from(#404040), to(#000)); border:solid 1px #000; display:block; padding:7px; position:relative; top: 10px; left:15px; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;  }	
				.cart a.cart-main span { background-color: #CA2926; color:#fff; font-size:12px; font-weight:500; line-height:11px; margin:-12px 0 0 20px; padding: 2px 3px 1px 3px; position:absolute; -webkit-border-radius: 2px; -webkit-box-shadow: 0 1px 0 rgba(0, 39, 121, .77); }
				.cart img { width:20px; }
				
			nav .flyouts li.primary .dropdown { background:#fff; border-top:solid 2px #f2f2f2; box-shadow:0 2px 4px rgba(0,0,0,0.4); display:none; height:0px; left:0px; overflow:hidden; position:absolute; width:100%; z-index:98; }

				.flyouts .category-landscape { background-color:#fff; background-position:center top; background-repeat:no-repeat; opacity:0; }
				
		

/* Component Styles */

	/* Slideshow component styles */
	.slideshow { clear:both; height:600px; overflow:hidden; position:relative; }
		.slideshow .container { height:600px; margin:0 auto; position:relative; width:980px; }
			.container .step-next { background:url(../img/layout/next.png) no-repeat center center; display:block; height:600px; right:-100px; opacity:0; position:absolute; width: 200px;  -moz-transition: opacity 0.5s ease 0.15s; -webkit-transition: opacity 0.5s ease 0.15s; transition: opacity 0.5s ease 0.15s; }
			.container .step-prev { background:url(../img/layout/prev.png) no-repeat center center; display:block; height:600px; left:-100px; opacity:0; position:absolute; width: 200px;  -moz-transition: opacity 0.5s ease 0.15s; -webkit-transition: opacity 0.5s ease 0.15s; transition: opacity 0.5s ease 0.15s; }
			.container .step-next:hover,
			.container .step-prev:hover { cursor:pointer; opacity:1; }
		.slideshow .controller { background:#000; background: -moz-linear-gradient(top, #404040 0%, #000); background: -webkit-gradient(linear, left top, left bottom, from(#404040), to(#000)); font-family:Arial; padding:0 10px; position:absolute; line-height:14px; text-align:center; bottom: 15px; -webkit-border-radius:3px;  }
			.slideshow .controller a { color:#999; cursor:pointer; display:inline-block; font-size:32px; margin:5px 0; padding:0 2px; }
			.slideshow .controller a.selected { color:#fff; }
			.slideshow .controller .play-pause { background-image:url(../img/layout/play.png); background-position:6px center; background-repeat:no-repeat; border-right:solid 1px #333; display:block; float:left; height:25px; margin:0 10px -15px -5px; position:relative; width:20px;}
				.slideshow .controller .pause { background-image:url(../img/layout/pause.png); background-position:5px center; }
		.slideshow .slides { }
			.slides .slide { background-color:#fff; background-position:top center; background-repeat:no-repeat; display:block; height:600px; position:absolute; width:100%; }
		.slideshow .stage { margin:0 auto; position: relative; width:980px; }

	/* Zoom Component Styles */
	.zoom-image { float:left; height:287px; margin:50px 20px 0 -20px; overflow:hidden; position:relative; width:400px; }
		.zoom-image img { position:absolute; width:400px; z-index:99; }
		.zoom-image .mask { opacity:0; }
	
	/* Lifestyle Component Styles */
	.lifestyle { background-color:#fff; background-position:center top; background-repeat:no-repeat; height:250px; overflow:hidden; }
		.lifestyle h1 { margin:40px 0 10px 0; }
		.lifestyle p { margin:15px 0; width:300px; }
	
	.lifestyle-bike { background-image:url(../img/content/bikes-category.png); }
	
	/* Brand Component Styles */
	.brands { float:left; line-height:20px; margin:20px 0 40px 0; width:100%; }
		.brands ul { width:100%; }
		.brands li { float:left; padding:0 40px 0 0; }
			.brands li:nth-child(6) { padding:0; }
		.brands img { margin:0 auto; }
		.brands h3 { margin:20px 0 0 0; }
		
	.categories { }	
		.categories .container { width:1000px; }
		.categories .slider { padding:10px; }
		.categories .slider ul a { -moz-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }
		.categories .slider ul a:hover { box-shadow:0 0 10px rgba(0,0,0,0.3);
			transform: scale(1.025) rotate(0.01deg);
			-ms-transform: scale(1.025) rotate(0.01deg); /* IE 9 */
			-webkit-transform: scale(1.025) rotate(0.01deg); /* Safari and Chrome */
			-o-transform: scale(1.025) rotate(0.01deg); /* Opera */
			-moz-transform: scale(1.025) rotate(0.01deg); /* Firefox */	
			
		}
		.categories .slider li a:nth-child(2) { margin:0 10px; }
		.categories .slider .next, .categories .slider .prev { height:150px; }
	
	/* Slider Component Styles */
	.slider { margin:20px 0 40px 0; overflow:hidden; position:relative; width: 76%; padding-left: 10px; }
		.slider .slider-wrapper { float:left; width:9999px; }
		.slider ul { position:relative; left:0px; width:9999px; }
		.slider li { float:left; width:1000px }
		.slider li a { display:block; float:left; }
		.slider .next, .slider .prev { -moz-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }
		.slider .prev { background:rgba(0,0,0,0.1) url(../img/layout/prev.png) no-repeat center center; height:180px; left:0px; opacity:0; position:absolute; width:80px; }
		.slider .next { background:rgba(0,0,0,0.1) url(../img/layout/next.png) no-repeat center center; height:180px; right:0px; opacity:0; position:absolute; width:80px; }
		.slider .next:hover, .slider .prev:hover { opacity:1; }
		.slider .slider-controller { clear:both; font-family:Arial,Sans-Serif; font-size:30px; padding:10px 0 0 0; text-align:center; }
			.slider .slider-controller span { display:inline-block; }
			.slider .slider-controller a { float:left; color:#999; padding:0 1px; }
				.slider .slider-controller a.selected { color:#000; }
		
	/* Rich Revelance Styles */
	.rich-relevance { clear:both; margin:10px 0 20px 0; }
		.rich-relevance ul { width:99999px; }
		.rich-relevance li { float:left; text-align:left; }
		.rich-relevance ul li a { float:left; margin:10px 5px; padding:0; position:relative; overflow:hidden; width:240px; }
			.rich-relevance ul li a:hover .product-info { top:95px; }
			.rich-relevance a img { margin:0 auto; width:90%; }
		.rich-relevance .product-info { background:rgba(255,255,255,0.9); padding:5px 0; width:196px; -moz-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }
			.rich-relevance .product-info h4 { font-size:14px; font-weight:500; height:50px; line-height:16px; text-transform:none; }
			.rich-relevance .product-info h4 strong { color:#000; display:block; }
			.rich-relevance .product-info .price { color:#000; }
		.rich-relevance .next,
		.rich-relevance .prev { height:360px; }
	
	/* Latest News Widget Styles */		
	.latest { margin:20px 0 0 0; min-height:410px; }
		.latest .latest-nav { float:right; margin:-10px -10px 0 0; }
		.latest .latest-wrapper { height:308px; margin:10px -3px 0 -3x; overflow:hidden; width:1000px;  }
		.latest .news { background:#f3f3f3; float:left; margin:5px 3px; padding:12px; width:369px; }
			.latest .news:hover { box-shadow:inset 0 0 15px rgba(0,0,0,0.1); }
			.latest .news h4 { color:#000; height:35px; margin:0 0 5px 0; overflow: hidden; }
			.latest .news img { float:left; margin:0 15px 0 0; }
			.latest .news p { margin:0 0 5px 0; }
			.latest .news .read-more { text-decoration:underline; }
		.latest .video, .latest .photo { background:#000; float:left; margin:5px 3px; }
			.latest .video:hover img, .latest .photo:hover img { opacity:0.8; }
		.latest .social { background:#f3f3f3; color:#000; display:inline-block; float:left; font-weight:600; height:124px; line-height:18px; margin:5px 3px; padding:10px; position:relative; width:174px; }
			.latest .fb { background:#f3f3f3 url(../img/layout/facebook-icon.png) no-repeat 164px 114px; }
			.latest .twitter { background:#f3f3f3 url(../img/layout/twitter-icon.png) no-repeat 164px 114px; }
			.latest .social .date { bottom:5px; color:#666; font-size:12px; font-weight:500; position:absolute; }
	
	/* Link Farm Styles */
	.link-farm {  clear:left; padding:0 0 50px 0; width:600px; }	
		.link-farm-block { float:left; line-height:20px; margin:0 20px 50px 0; width:180px; }
		.link-farm a { display:block; }
		.link-farm h3 a { color:#000; }
	
	/* Filters Component Styles */	
	.filters { background:#fff; float:left; margin:20px 10px 50px 0; width:180px; -webkit-border-radius:3px; -moz-transition: all 1.0s ease 0.0s; -webkit-transition: all 1.0s ease 0.0s; transition: all 1.0s ease 0.0s; }
		.filters:hover { background:#f9f9f9; }
		.filter { line-height:20px; padding:0 0 20px 0; }
			.filter h5 { background:transparent; padding:5px 10px; margin:0 0 5px 0; -moz-transition: all 1.0s ease 0.0s; -webkit-transition: all 1.0s ease 0.0s; transition: all 1.0s ease 0.0s; }
				
			.filter a { color:#555; display:block; font-weight:400; padding:4px 10px; margin:0; }
				.filter a:hover { background:#eee; color:#000; }
			.filter a span { color:#999; display:inline-block; font-size:11px; font-weight:500; padding:0 3px; -webkit-border-radius:3px; -moz-transition: all 1.0s ease 0.0s; -webkit-transition: all 1.0s ease 0.0s; transition: all 1.0s ease 0.0s; }
				.filter a:hover span { color:#000; }
			.filters h5.refine-label { background:#fff; padding:5px 10px;margin:0 0 10px 0; -moz-transition: all 1.0s ease 0.0s; -webkit-transition: all 1.0s ease 0.0s; transition: all 1.0s ease 0.0s; }
				.filters:hover h5.refine-label { background:#f2f2f2; }

	
	/* Breadcrumb Component Styles */	
	.breadcrumb { margin:0px 0 10px -10px; }
		.breadcrumb a { display:inline-block; padding:0 10px; }
		.breadcrumb a.current { color:#333; font-weight:600; }
		
	/* Sort By on PLP */	
		.sort-by {width: 190px !important}
		.sort-by {float: right;}
	
		
	/* Subnav Component Styles */			
	.subnav { background:#fff; margin:-70px 0 0 0; padding:20px 0 0 0; width:100%; }
		.subnav .filter { background:url(../img/layout/close-inactive.png) no-repeat 9px center;color:#666; display:inline-block; margin:5px 0; padding:5px 10px 5px 25px; float:left; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -webkit-border-radius:3px; -moz-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }
			.subnav .filter:hover { background:#eee url(../img/layout/close-active.png) no-repeat 9px center; color:#000; }
		.subnav .sort { float:right; }
	
	/* Product Squares - Large -  Styles */	
	.product-display { float:left; margin:0 -10px 0 0; width:800px; }
		.product-block { color:#000; float:left; height:420px; margin:10px; position:relative; width:380px;}
			.product-block .product-info { background:rgba(255,255,255,0.9); border-top:solid 1px #eee; margin:-40px 0 0 0; padding:10px; position:relative; z-index:10; }
				.product-block:hover .product-info { border-top:solid 1px #000; }
				
				.product-block .product-info h4 { clear:left; font-size:16px; font-weight:400; line-height:18px; margin:1px 0 0 0; text-transform:none; width:240px; }
					.product-block .product-info h4 strong { color:#000; display:block; font-weight:600; }
				.product-block .product-info .price { color:#C00; float:right; font-size:18px; font-weight:400; text-align:right; width:180px; }
				.product-block .product-info .price-reg { color:#000; float:right; font-size:18px; font-weight:400; }
				.product-block .product-info .price-strike { clear:right; color:#000; display:block; float:right; font-size:14px; font-weight:400; margin:23px 0 0 180px; position:absolute; text-align:right; width:180px; }
				.product-block .product-info .rating {  float:left; }
				.product-block .product-info .reviews { color:#999; float:left; font-size:12px; margin:0 0 0 5px; }
				.product-block .product-info .past { color:#666; font-size:14px; }
				.product-block .product-info .promo { color:#C00; font-size:14px; }
			.product-block .product-image { height:370px; overflow:hidden; z-index:9; }
				.product-block .product-image img { margin:0 auto; width:370px; }
			
	/* Star Ratings Styles */	
	.rating { background:url(../img/layout/stars.png) no-repeat left center; background-size:177px 15px; display:block; height:20px; width:87px; }
		.rating-0 { background-position:-89px 0; }
		.rating-1 { background-position:-72px 0; }
		.rating-2 { background-position:-54px 0; }
		.rating-3 { background-position:-36px 0; }
		.rating-4 { background-position:-18px 0; }
		.rating-5 { background-position:0 0; }
		
	/* Segmented Control */
	.segmented-control { border-radius:4px; display:table; margin:10px 0; }
		.segmented-control li { display:table-cell;  }
		.segmented-control a { background:whiteSmoke; box-shadow:inset 0 13px 5px rgba(0,0,0,0.03), inset 0 0 2px rgba(0,0,0,0.3); color:#333; display:block; font-weight: 500; padding:3px 13px; transition:none; -webkit-transition:none; -moz-transition:none; }
			.segmented-control li:first-child a { border-radius:4px 0 0 4px; }
			.segmented-control li:last-child a { border-right:none; border-radius:0 4px 4px 0; }
			.segmented-control .selected { background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#666)); box-shadow:inset 0 13px 0 rgba(0,0,0,0.05), inset 0 0 15px rgba(0,0,0,0.6); border-left:none; color:#fff; }
	
	/* Modal Component Styles */
	
	.cart-qty { line-height:12px; }
		.cart-qty .mouse { font-size:11px; }
		.cart-qty input[type="text"] { display:inline-block; margin:0 0 2px 0; }
		.cart-qty a { text-decoration:underline; }
	
	.inventory-message { float:left; font-size:12px; line-height:14px; margin:-8px 0 -5px 10px; width:220px; }
		.inventory-message div { display:none; }
	
	.stock-messaging { font-size:12px; margin:3px 0 0 0; }
		.stock-messaging div { display:none; }
		.stock-messaging div:nth-child(1) { color:#0072bc; } 
		.stock-messaging a { margin:0 0 0 5px; }
		.stock-messaging img { float:left; margin:5px 2px 0 0; }
	
	.modal { background:#fff; border:solid 4px #000; border-radius:5px; display:none; margin-left:-150px; padding:20px; position:fixed; top:40%; left:50%; width:300px; z-index:999;  }
		.modal h4 { margin:0 0 10px 0; }
		.modal p { margin:10px 0; }
		.modal a:nth-child(1) { float:left; margin:0 10px 0 0; }
		
	/* Custom Select Component Styles */	
	.custom-select { background:#ececec url(../img/layout/dropdown.png) no-repeat center right; border: 1px solid #d8d8d8; border-bottom: 1px solid #ccc; box-shadow: 0px 2px 2px rgba(0,0,0,0.027), inset 0px 1px 0px rgba(255,255,255,0.69), inset 0px -1px 0px rgba(0,0,0,0.0187), inset 0px 16px 15px rgba(255,255,255,0.57); color:#666; cursor:pointer; display:inline-block; font-size:14px; font-weight:500; margin:5px 0; padding:3px 10px 2px 7px; text-shadow:1px 1px 0 #fff; width:130px; -webkit-border-radius:3px; }
		.custom-select:hover { box-shadow:0px 2px 2px rgba(0,0,0,0.027), inset 0px 1px 0px rgba(255,255,255,0.69), inset 0px -1px 0px rgba(0,0,0,0.0187), inset 0px 16px 15px rgba(255,255,255,0.57), 0 0 3px rgba(55,154,205,0.7); }
		
		.custom-select .custom-value { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width:120px;}
		.custom-select .custom-options { background:#fff; border:solid 1px #666; box-shadow: 0 0 5px rgba(0, 86, 149, 0.5); display:none; margin:-4px 0 0 -8px; position:absolute; width:220px; z-index:99; border-radius:3px;  }
			.custom-select .custom-option { padding:2px 5px; }
			.custom-select .custom-option:hover { background:#f0f0f0; }
				.custom-select .custom-option span { color:#888; display:block; font-style:italic; font-weight:400; margin-top:-5px; }
			
		/* Advanced Select Component Styles */	
		.advanced-dropdown { background:#ececec url(../img/layout/dropdown.png) no-repeat center right; border: 1px solid #aaa; border-bottom: 1px solid #ccc; box-shadow: 0px 2px 2px rgba(0,0,0,0.027), inset 0px 1px 0px rgba(255,255,255,0.69), inset 0px -1px 0px rgba(0,0,0,0.0187), inset 0px 16px 15px rgba(255,255,255,0.57); color:#666; cursor:pointer; display:block; font-size:12px; font-weight:500; line-height:12px; margin:-3px 0 0 0; padding:7px 25px 7px 7px; width:275px; -webkit-border-radius:3px; }
			.advanced-dropdown:hover { box-shadow:0px 2px 2px rgba(0,0,0,0.027), inset 0px 1px 0px rgba(255,255,255,0.69), inset 0px -1px 0px rgba(0,0,0,0.0187), inset 0px 16px 15px rgba(255,255,255,0.57), 0 0 3px rgba(55,154,205,0.7); }
			.advanced-dropdown img { float:right; margin:65px 15px 0 0; width:200px; }
			.advanced-value { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width:95%; }
			.advanced-knob { background:#ececec url(../img/layout/dropdown.png) no-repeat center right; border:solid 1px #666; border-bottom:solid 1px #fff; border-radius:0 3px 0 0;box-shadow: 0px 2px 2px rgba(0,0,0,0.027), inset 0px 1px 0px rgba(255,255,255,0.69), inset 0px -1px 0px rgba(0,0,0,0.0187), inset 0px 16px 15px rgba(255,255,255,0.57); display:none; float:right; height:27px; position:relative; left:27px; top:-20px; width:27px; z-index:999; }
			.advanced-options { background:#fff; border:solid 1px #666; box-shadow: 0 0 5px rgba(0, 86, 149, 0.5); display:none; margin:8px 10px 0 -300px; height:350px; overflow:auto; position:absolute; width:600px; z-index:99; -webkit-border-radius:4px 0 4px 4px; }
			.advanced-options .advanced-overflow { background:#fdfdfd; float:right; margin:0 0 0 0; height:350px; line-height:16px; overflow-y:auto; width:359px; border-left:solid 1px #ddd; border-radius:0 4px 4px 0; }
				
			.advanced-section { background:#e0e0e0 url(../img/layout/kit_expand.png) no-repeat left center; border-top:solid 1px #d2d2d2; box-shadow: 0px 2px 2px rgba(0,0,0,0.027), inset 0px 1px 0px rgba(255,255,255,0.69), inset 0px -1px 0px rgba(0,0,0,0.0187), inset 0px 16px 15px rgba(255,255,255,0.57), inset 0 1px 1px #ddd; border-bottom:solid 1px #f2f2f2; color:#000; cursor:pointer; display:block; font-size:13px; font-weight:600; line-height:14px; padding:10px 5px 10px 35px; }
				.advanced-section a { color:#999; font-style:italic; float:right; font-size:12px; margin:0 5px 0 0; text-decoration:underline; }
					.advanced-section a:hover { color:#000; }
			.advanced-segment { background:#eee; border-top:solid 1px #d2d2d2; box-shadow:inset 0 1px 2px #ccc; color:#000; cursor:auto; padding:2px 5px; }
			.advanced-option-group { display:none; }
			.advanced-option { background:#fff; border-bottom:solid 1px #f2f2f2; color:#000; cursor:pointer; display:block; font-size:13px; font-weight:400; line-height:14px; padding:7px 5px 7px 25px; }
				
				.advanced-option i { color:#999;font-weight:400;float:right;font-size:11px;padding:0 1px 0 0; }
				.advanced-value i { color:#999;font-weight:400;float:right;font-size:11px;padding:0 1px 0 0; }
				
				.advanced-option:hover { background:#fff; }
				.advanced-option:last-child { box-shadow:0 2px 7px rgba(0,0,0,0.2); }
				.advanced-info { background:#fff; box-shadow:inset 0 1px 5px rgba(0,0,0,0.2); display:none; font-weight:500; padding:10px; }
				.secondary { color:#999; float:right; font-size:10px; }
				
			 .advanced-dropdown .advanced-option.selected { background:#f3f6fa url(../img/layout/advanced-check.png) no-repeat 8px center; background-size:10px 9px }
				.advanced-dropdown .advanced-option:hover { background:#f4f4f4; }
				.advanced-dropdown .advanced-option.selected:hover { background:#f4f4f4 url(../img/layout/advanced-check.png) no-repeat 8px center; background-size:10px 9px }
			 

		/* Advanced Select Component Styles */	
		.advanced-dropdown-disabled { color:#666; cursor:pointer; display:block; font-size:13px; font-weight:500; line-height:12px; padding:9px 25px 7px 7px; width:260px; -webkit-border-radius:3px; }

	.back-order { background:#eaeaea; font-size:16px; font-weight:500; padding:6px 10px; position:relative; }
		.back-order span { color:#C00; }
		.back-order .box { width: 0;  height: 0;  border-left: 14px solid transparent; border-right: 14px solid transparent; border-top: 14px solid #eaeaea; position:absolute; bottom:-14px; right:125px; }
		
	.back-order-item {  }
	
	.cart-summary { }
	


	/* Shipping Options Component Styles */
	.shipping-options { background:#f2f2f2; float:right; margin:0 20px 0 0; padding:10px 20px; width:240px; }
		.shipping-options label { display:block; padding:5px 0; }
		.shipping-options input { margin:0 2px 0 0; }
	

	.subtotal { color:#666; float:right; text-align:right; width:180px; }
		.subtotal strong { color:#000; }
		.subtotal a { text-decoration:underline; }
		.subtotal dt { float:left; clear:both; margin:5px 0; display:inline-block;  width:90px; }
		.subtotal dd { float:left; margin:5px 0; display:inline-block;  width:90px; }

	/* Pagination Component Styles */		
	.pagination { clear:both; padding:50px 10px; text-align:right; }
		.pagination a { color:#000; margin:0 7px; }
		.pagination a.ui-black { color:#fff; }
		.pagination a.next { font-weight:600; margin:0 0 0 20px; }
		
	/* Highlighted Styles */
	.ui-tooltip,.ui-tooltip-top,.ui-tooltip-right,.ui-tooltip-bottom,.ui-tooltip-left{background-color:rgba(255,255,255,0.9);color:#000;cursor:normal;display:-moz-inline-stack;display:inline-block;font-size:14px;line-height:16px;margin:-37px 0 10px -255px;opacity:0;width:230px;padding:10px;position:absolute;text-align:center;-webkit-border-radius:3px;-khtml-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 0 5px rgba(0,0,0,0.4);}
	.ui-tooltip:after,.ui-tooltip-top:after,.ui-tooltip-right:after,.ui-tooltip-bottom:after,.ui-tooltip-left:after{content:"\25B8";display:block;font-size:30px;height:0;line-height:0;position:absolute;}
	.ui-tooltip:after,.ui-tooltip-bottom:after{color:#fff;bottom:-1.75px;left:1px;text-align:center;text-shadow:1px 0 2px rgba(0,0,0,0.4);-o-transform:rotate(90deg);-moz-transform:rotate(90deg);-khtml-transform:rotate(90deg);-webkit-transform:rotate(90deg);width:100%;}
	.ui-tooltip-top:after{bottom:auto;color:#fff;left:-2px;top:-2px;text-align:center;text-shadow:1px 0 2px rgba(0,0,0,0.4);-o-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-khtml-transform:rotate(-90deg);-webkit-transform:rotate(-90deg);width:100%;}
	.ui-tooltip-right:after{color:#fff;right:-0.35em;top:50%;margin-top:-.05em;text-shadow:1px 0 2px rgba(0,0,0,0.4);-o-transform:rotate(0);-moz-transform:rotate(0);-khtml-transform:rotate(0);-webkit-transform:rotate(0);}
	.ui-tooltip-left:after{color:#fff;left:-0.375em;top:70%;margin-top:.1em;text-shadow:1px 0 2px rgba(0,0,0,0.4);-o-transform:rotate(180deg);-moz-transform:rotate(180deg);-khtml-transform:rotate(180deg);-webkit-transform:rotate(180deg);}
	.ui-tooltip .tooltip-close,
	.ui-tooltip-top .tooltip-close,
	.ui-tooltip-right .tooltip-close,
	.ui-tooltip-bottom .tooltip-close,
	.ui-tooltip-left .tooltip-close{background:url(../img/layout/close-inactive.png) no-repeat center center;cursor:pointer;height:16px;position:absolute;right:5px;top:5px;width:16px;}
	.ui-tooltip .tooltip-close:hover,
	.ui-tooltip-top .tooltip-close:hover,
	.ui-tooltip-right .tooltip-close:hover,
	.ui-tooltip-bottom .tooltip-close:hover,
	.ui-tooltip-left .tooltip-close:hover{background:url(../img/layout/close-active.png) no-repeat center center;}

		
	/* UI Element Styles */
	
		/* UI Headlines */
		h1 { color:#CA2926; font-size:24px; font-weight:400; line-height:20px; text-transform:uppercase; }
		h2 { font-size:20px; font-weight:600; line-height:20px; text-transform:uppercase; }
		h3 { font-size:18px; font-weight:600; line-height:20px; text-transform:uppercase; }
		h4 { font-size:16px; font-weight:600; line-height:18px; text-transform:uppercase; }
			h4 img { float:left; margin:1px 5px 0 0; }
		h5 { font-size:14px; font-weight:600; line-height:20px; text-transform:uppercase; }
		h6 { color:#000; font-size:21px; font-weight:400; line-height:20px; text-transform:uppercase; }
		h7 { color:#666; font-size:18px; font-weight:400; line-height:20px; text-transform:uppercase; }
		
		.body-1 { color:#000; font-size:14px; font-weight:400; line-height:20px; }
		.body-2 { color:#333; font-size:12px; font-weight:400; line-height:16px; }
		.body-1-black { color:#999; font-size:14px; font-weight:600; line-height:20px; }
		.body-2-black { color:#999; font-size:12px; font-weight:600; line-height:16px; }
		.mouse { font-size:11px; }
	
		/* UI Buttons */
			.ui-button { display:inline-block; font-size:16px; font-weight:600; letter-spacing:-0.05em; padding:6px 20px; cursor:pointer; }
				.ui-button:active { position:relative; top:1px; }
			.ui-button-med { display:inline-block; font-size:13px; font-weight:600; padding:5px 12px 3px 12px; cursor:pointer; text-transform:uppercase; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; }


			.ui-button-image { cursor:pointer; display:inline-block; line-height:0; padding:5px; }
				.ui-button-image img { display:inline-block; margin:0; height:16px; }

			.ui-button-image-with-text-two { cursor:pointer; display:inline-block; font-size:16px; font-weight:600; line-height:15px; padding:10px 20px; }
				.ui-button-image-with-text-two img { float:left; margin:0 10px 0 -10px; width:16px; }
			.ui-button-image-with-text { cursor:pointer; display:inline-block; font-size:16px; font-weight:600; line-height:15px; padding:8px 20px; }
				.ui-button-image-with-text img { float:left; margin:0 5px 0 0; height:16px; }

		/* UI Colors */
			.ui-black { background:#000; background: -moz-linear-gradient(top, #404040 0%, #000); background: -webkit-gradient(linear, left top, left bottom, from(#404040), to(#000)); color:#fff; text-transform:uppercase; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;  }					
				.ui-black:hover { background:#404040; -moz-linear-gradient(top, #202020 0%, #000); background: -webkit-gradient(linear, left top, left bottom, from(#202020), to(#000)); color:#fff; }				

			.ui-gray { background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(100%, whiteSmoke)); -pie-background: linear-gradient(top, #ffffff,#f5f5f5); -moz-border-radius: 4px; -webkit-border-radius: 4px; -ms-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; border-color: #F0F0F0 #F0F0F0 #CCC #F0F0F0; border-style: solid; border-width: 1px; color:#545454; text-transform:uppercase; }
				.ui-gray:hover { background-color: rgb(255, 255, 255); background-image:linear-gradient(-90deg, rgb(250, 248, 248), rgb(245, 242, 242) 50%, rgb(229, 229, 229)); background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(250, 248, 248)), color-stop(0.5, rgb(245, 242, 242)), to(rgb(229, 229, 229))); background-image:-moz-linear-gradient(-90deg, rgb(250, 248, 248), rgb(245, 242, 242) 50%, rgb(229, 229, 229)); -moz-border-radius: 4px; -webkit-border-radius: 4px; -ms-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; border-color: #edebeb #edebeb #bfbfbf #edebeb; border-style: solid; border-width: 1px; color: #545454; }

		/* UI Inputs */
		input[type="text"] { border:solid 1px #bbb;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;box-shadow:inset 1px 0 6px rgba(0,0,0,0.2);display:inline-block;font-size:14px; padding:5px;margin:0 5px; }
			input[type="text"]:focus { outline:none; box-shadow:inset 1px 0 6px rgba(0,0,0,0.2), 0 0 3px rgba(0,156,255,0.7); }
		
		/* UI Textareas */
		textarea { border:solid 1px #bbb;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;box-shadow:inset 1px 0 6px rgba(0,0,0,0.2);display:inline-block;font-size:14px; height:50px; padding:5px;margin:0 5px -5px 5px; }
			textarea:focus { outline:none; box-shadow:inset 1px 0 6px rgba(0,0,0,0.2), 0 0 3px rgba(0,156,255,0.7); }	
			
		/* UI Tabs */
		.ui-tabs { background:url(../img/layout/tab_shadow.jpg) repeat-x bottom left; border-bottom:solid 1px #ccc; height:32px; font-size:16px; list-style-type:none; margin:0 0 10px 0; padding:0 0 0 5px; width:100%; }	
			.ui-tabs li { float:left; list-style-type:none;  }
			.ui-tabs a { border:solid 1px #e0e0e0; color:#333; display:block; font-weight:400; letter-spacing:-0.05em; margin:0 2px; padding:5px 15px; border-top-right-radius:3px; border-top-left-radius:3px; }
				.ui-tabs a:hover { border:solid 1px #ccc; color:#000; }
				.ui-tabs a.selected { background:#fff; border-left:solid 1px #ccc; border-top:solid 1px #ccc; border-right:solid 1px #ccc; border-bottom:solid 1px #fff; box-shadow:0 -2px 5px rgba(0,0,0,0.1); color:#000; font-weight:600; padding:6px 15px 6px 15px; margin:0; }
					.ui-tabs:hover a.selected { opacity:1; }
					
					
		/* UI Pill	*/
		.ui-pill { border:solid 1px #ccc; border-radius:100px; color:#999; display:inline-block; font-size:13px; line-height:16px; margin:0 3px; padding:1px; position:relative; text-align:center; top:-2px; width:25px; }
					
.sale-flyout .logos { display:inline-block; margin:1px 100px; }
	.sale-flyout .logos img { float:left; }
					
		/* UI Tables */
			table { border-bottom:solid 3px #f2f2f2; border-collapse:collapse; margin:20px 0; width:100%; }
				th { background:#f2f2f2; color:#666; padding:5px 8px; font-size:12px; font-weight:500; }
				td { border-bottom:solid 1px #f2f2f2; padding:10px; }
				th, td { text-align:center; }
				td .lighter { color:#666; }
				td .table-price { display:block; margin:-25px 0 0 0; }
				table h4 { text-transform:none; }

		/* Tooltip Component Styles */
		.tooltip {  position: relative;  text-decoration: none; }
			.tooltip:after { background:#000; background: -moz-linear-gradient(top, #404040 0%, #000);  background: -webkit-gradient(linear, left top, left bottom, from(#404040), to(#000)); border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; bottom: 130%; color: #fff; content: attr(title); display:none; font-size:12px; font-weight:600; left: -15%; line-height:12px; opacity: 0; padding: 8px; position: absolute; text-align:center; white-space: nowrap; z-index:99; }
			.tooltip:before { border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid #000; bottom: 15px; content: ""; display:none; height: 0; left: 30%; opacity: 0; position: absolute; width: 0; }
			.tooltip:hover:after { bottom: 30px; display:block; }
		 	.tooltip:hover:before { bottom: 25px; display:block; }
			.tooltip:hover:after, .tooltip:hover:before { opacity: 1; }

		/* UI Forms */
		form.horizontal { }
			form.horizontal label { clear:left; display:block; padding:5px 0; }
			form.horizontal label strong { float:left; line-height:14px; margin:0 20px 20px 0; padding:10px 0 0 0; text-align:right; width:180px; }
				form.horizontal label strong a { font-size:12px; font-weight:500; }

			form.horizontal textarea { width:320px; }
			form.horizontal input[type="text"] { width:280px; } 
			form.horizontal .input-hint  { margin:3px 0 10px 205px; width:300px; }
			form.horizontal .ui-button, form .ui-button-med { margin:15px 5px 0  5px; }

		form.vertical { }
			form.vertical label { display:block; text-align:left; }
				form.vertical label strong { display:block; }
				form.vertical textarea { margin:5px 0; }

	/* PLP Facets */		
			
		.facets {width: 180px; padding: 10px; margin-left: -10px; margin-top: 30px; transition: background 1.5s; float: left;}
		.facets:hover {background: #f7f7f7;}
		
		.facets .refine {margin-bottom: 30px;}
		
		.facet input[type='checkbox'] {margin: 10px 10px 10px 0;}
		.facet div {cursor: pointer;  color: #555; margin: 0 -10px; padding: 0 10px;}
		.facet div:hover {background: #f2f2f2;}
		
		.sizefacet ul {margin: 10px 0;}
		.sizefacet ul li { float: left; position: relative; margin: 0 3px 3px 0; }
		.sizefacet ul li a {display:block; width: 31px; height: 26px; padding-top: 5px; letter-spacing: -1px; text-align: center; border: 1px #dadada solid;}
		.sizefacet ul li a:hover {background: #f2f2f2; color: #666;}
		.viewall {float:right;margin: 10px 0; padding: 5px 0;}
		.viewall:hover {color: #666; background: #f2f2f2; width: 180px; text-align: right;}

	/* PLP Brand Links */		

		.brand-links {margin-top: 30px; float: left; width: 770px; padding: 10px;}
		.brand-links ul li {display: block; float: left; font-size: 16px; margin: 0 32px; text-transform: uppercase;}
		
	/* PLP Product Listing */		
	
		.product-listing {float: left; width: 790px;}
		.product-listing ul {width: 100%;}
		.product-listing ul li {width: 245px; padding: 9px; float: left;}
		.product-listing ul p {font-size: 14px; color: #000;}
		.product-listing ul li img {width: 100%;}
		.product-listing .image-container {width: 245px; height: 245px;}
		.rectangle-plp-image {padding-top: 40px;}
		
		.cropped-plp-image {overflow: hidden;}
		.cropped-plp-image div {width: 245px; height: 245px;}
		
		.product-name span {font-weight: bold;}
		
				
	/* Slideshow individual promo styles */				
		.scene-1 .ad-brand { position:absolute; top:50px; left:400px; }
		.scene-1 .headline { position:absolute; top:100px; left:143px; color:#666; font-size:32px; letter-spacing:-0.02em; text-transform:uppercase; }
		.scene-1 .subheadline { position:absolute; top:130px; left:375px; color:#000; font-size:32px; letter-spacing:-0.02em; text-transform:uppercase; }
		.scene-1 .ui-button { position:absolute; top:180px; left:425px; }
			.scene-1 .ui-button:active { top:181px; }

			.image-a { position:absolute; left:-800px; top:35px; }	
			.image-b { position:absolute; left:-800px; top:78px; }
		
		.scene-2 .headline { position:absolute; top:490px; left:230px; color:#666; font-size:32px; letter-spacing:-0.02em; text-transform:uppercase; }	
		.scene-2 .subheadline { position:absolute; top:520px; left:260px;  color:#000; font-size:32px; letter-spacing:-0.02em; text-transform:uppercase; }	
		.active .image-a { left:55px; }	
		.active .image-b { left:550px; }
		
		.scene-3 .headline { position:absolute; top:210px; left:450px; color:#fff; font-size:32px; letter-spacing:-0.02em; text-transform:uppercase; }	
		.scene-3 .subheadline { position:absolute; top:240px; left:400px;  color:#000; font-size:21px; letter-spacing:-0.02em; text-transform:uppercase; }
		.scene-3 .ui-button { position:absolute; top:270px; left:565px; }
		
		.scene-4 .headline { position:absolute; top:200px; left:30px; color:#fff; width:420px; font-size:32px; line-height:26px; letter-spacing:-0.02em; text-transform:uppercase; text-shadow:1px 1px 10px #000; }	
		.scene-4 .subheadline { position:absolute; top:230px; left:60px;  color:#ddd;  width:420px;font-size:21px; letter-spacing:-0.02em; text-transform:uppercase; text-shadow:1px 1px 10px #000;  }
		.scene-4 .ui-button { position:absolute; top:290px; left:140px; }
		.scene-4 .box { background:rgba(0,0,0,0.3); position:absolute; top:0px; left:0px; width:460px; height:600px; }
	
	
	/* Page Specific Styles */
	
	#test { padding:50px 0 0 0; }
	
	#plp { padding:50px 0 0 0; }
	#plp .sort { margin:30px 0 0 0; }
	
	#kit { margin:0; padding:0; }
	
	#kit h1 { margin:0 0 20px 0; }
	
	.kit-nav { padding:10px; position:fixed; top:200px; margin-left:900px;  }
		.kit-nav a { border-left:solid 4px #ddd; display:block; margin:0 0 2px 0; padding:0 5px; }
		.kit-nav a.selected { border-left:solid 4px #000; color:#000; font-weight:500; }
	
	.kit-calculator { display:none; margin:0 0 -50px 0; opacity:0; }
	
	.kit-feature { background:#fff url(../img/content/kit-feature.jpg) no-repeat center 80px; float:left; height:400px; margin:-102px 0 20px 0; width:100%; }
	.kit-feature h3 { margin:100px 0 0 0; }
	
	.kit-selection { background:#fff; clear:both; float:left; margin:10px 0 0 0; padding:5px 5px 10px 5px; position:absolute; width:170px; }
		.kit-selection img { float:left; margin:0 25px 0 0; width:170px; }
		.kit-selection h6 { padding:35px 0 0 0; }
		.kit-selection label { display:none; float:left; margin:10px 10px 0 -5px; }
	.kit-selection-active { position:fixed; top:84px; }
		
	.kit-navigation { display:none; background:#fff; padding:5px 0; position:static; -webkit-transition:box-shadow 1.0s ease; }
	.kit-navigation-active { background:#fff; left:0px; padding:5px 0; position:fixed; top:84px; width:100%; z-index:99; box-shadow:0 2px 4px rgba(0,0,0,0.4); }
	
	.kit-group { border-top:solid 1px #ddd; clear:both; margin:0 0 20px 300px; padding:10px 0 0 0; width:580px; }
		.kit-group h4 { font-size:14px; margin:0 0 -30px 0; padding:5px 0; width:780px; }
		.kit-group .flt-rgt { margin:0 20px 0 0; }
		.kit-group .container { padding:0 100px 0 100px; width:780px; }
	
	.kit-part { cursor:pointer; margin:0 0 0 105px; padding:5px 0; border-radius:4px; -webkit-transition:all 0.3s ease; }
		.kit-part:hover { background:#f2f2f2; }
		.kit-part strong { display:block; float:left; line-height:14px; margin:8px 10px 0 0; text-align:right; width:130px; }
		.kit-part .detail { float:left; opacity:0; margin:7px 5px 0 5px; width:15px; -webkit-transition:all 0.1s ease; }
			.kit-part:hover .detail { opacity:1; }
		.kit-part .kit-preselected { color:#333; font-size:14px; line-height:14px; margin:7px 0; }
		
	.kit-part .kit-tooltip { background:url(../img/content/kit_tooltip.png) no-repeat center center; display:none; height:100px; float:right; opacity:0; padding:10px 10px 10px 15px; position:absolute; top:-45px; right:-125px; z-index:99; width:100px; }
		.kit-part:hover .kit-tooltip { display:inline; }
		.kit-part .kit-tooltip img { width:100px; }

	.kit-suggest a { border:solid 2px #eee; border-radius:5px; display:inline-block; font-weight:600; line-height:16px; margin-bottom:-10px; margin-top:-20px; padding:5px 10px; text-align:center; width:70px; }
		.kit-suggest a:first-child { margin-left:140px; }
		.kit-suggest a.selected { border:solid 2px #000; }
		.kit-suggest input[type="radio"] { display:block; margin:5px auto 0; }
			
	.kit-details { float:left; position:relative; width:295px; }

	
	.kit-share a { display:inline-block; padding:5px; }
	
	.kit-hidden { height:0px; overflow:hidden; }
	.kit-preselected {  padding:1px 0 0 0; margin:4px 0 0 0; }
	
	.package-tab { display:none; }
	.record { display:block; }
	
	.uncondense { display:none; }	
		
	

		/* Customer Review Component Styles */	
		.content-wall { border-top:solid 1px #f2f2f2; float:left; padding:20px 0 0 0; width:580px; }
			.content-wall .community-contribute .contribute { margin:0 0 0 0; text-align:left; }
			.content-wall .contribute { padding:10px 0; text-align:right; }
				.content-wall .contribute:hover { background:#fff; }
			.content-wall .contribute form { display:none; }
				.content-wall .contribute form .ui-button { display:none; }
				.content-wall .contribute form textarea {  height:20px; width:460px; }
			.content-wall .post-content { background:#f4f4f4; box-shadow:inset 0 3px 5px rgba(0,0,0,0.2); clear:left; padding:40px 0; margin:0 0 40px 0; }
		.customer-review { border-top:solid 1px #f2f2f2; margin:0; padding:10px; -moz-transition: all 0.5s ease 0.2s; -webkit-transition: all 0.5s ease 0.2s; transition: all 0.5s ease 0.2s; }
			.customer-review:hover { background:#fcfcfc; }
			.customer-review .rating { margin:0; }
			.customer-review .customer-info { font-size:12px; line-height:14px; margin:10px 0 0 0; }
				.customer-review .customer-info strong { color:#000; display:block; font-size:14px; }
				.customer-review img.profile-pic { float:left; margin:5px 10px 10px 0; width:50px; }
			.customer-review p { clear:left; }
			.customer-review .customer-manage { margin:0; opacity:0; text-align:right; -moz-transition: all 0.5s ease 0.2s; -webkit-transition: all 0.5s ease 0.2s; transition: all 0.5s ease 0.2s; }
				.customer-review:hover .customer-manage { opacity:1; }
				.customer-review .customer-manage img { opacity:0.2; }
				.customer-review:hover .customer-manage a:hover img { opacity:1; }
				.customer-review .customer-manage .ui-gray { float:right; margin:0 0 0 3px; }

		.customer-comment { border-top:none; border-bottom:solid 1px #f2f2f2; margin:0 0 0 100px; }

		.content-wall .contribution-entry { display:none; }
		.content-wall .post-question, .content-wall .post-photo, .content-wall .post-video { display:none; }
	
	#cart  { padding:40px 0 0 0; }
	
	#pdp { }
		#pdp .buy-panel { float:left; margin:30px 60px 0 0; position:relative; width:340px; z-index:99; }
		#pdp .buy-panel .rating { float:left; margin:0 5px 0 0; }
		#pdp .buy-panel p { margin:20px 0; }
		#pdp .custom-value { width:220px; }
		#pdp .custom-select { margin:0; width:240px; }
		#pdp .custom-select select { position:absolute; opacity:0; width:220px; }
		#pdp .size-selector { }
			#pdp .color-selector li { float:left; }
			#pdp .color-selector a { border:solid 2px #fff; display:inline-block; margin:0 2px; padding:1px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
				#pdp .color-selector a:hover { border:solid 2px #f0f0f0; }
			#pdp .color-selector a.selected { border:solid 2px #000; }
			#pdp .size-selector ul { margin:0; width:280px; }
			#pdp .size-selector li { float:left; }
			#pdp .size-selector a {  border:solid 2px #f0f0f0; color:#000; display:block; font-size:13px; font-weight:600; margin:0 2px 2px 0; padding:2px 8px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
				#pdp .size-selector a:hover { border:solid 2px #000; background:#fff; }
				#pdp .size-selector a.disabled { opacity:0.2; }
					#pdp .size-selector a.disabled:hover { border:solid 2px #fff; opacity:0.2; }
				#pdp .size-selector a.selected { background:#fff; border:solid 2px #000; }
				
				#pdp .sizing-chart  { float:left; position:relative; top:-15px; left:-25px; }
				#pdp .sizing-chart a { border:solid 2px #fff; }
					#pdp .sizing-chart a:hover { border:solid 2px #fff; }
			#pdp .buy-panel input[type="text"] { text-align:center; width:20px; }
			#pdp .product-view { float:left; text-align:center; width:580px; }
			#pdp .sizing-chart { float:right; margin:23px 0 0 0; }
				#pdp .product-view .brand { float:right; margin:-40px 0 0 0; }
				#pdp .product-view .main { background-repeat:no-repeat; background-position:center center; background-size:contain; height:440px; overflow:hidden; position:relative; }
				#pdp .product-view iframe{ margin:57px 0; }
			#pdp .product-view .carousel { margin:40px 0 0 0; overflow:hidden; }
				#pdp .product-view .carousel .red,
				#pdp .product-view .carousel .white,
				#pdp .product-view .carousel .black { display:none; }
				#pdp .product-view .carousel ul { float:left; width:9999px; }
				#pdp .product-view .carousel li { float:left; margin:0 5px 0 0; }
			#pdp .specs { float:left; margin:-50px 60px 0 0; width:340px; }	
			#pdp .description { float:left; width:580px; }
				#pdp .specs h4, #pdp .description h4 { margin:0 0 20px 0; }
				#pdp .description h2 { margin:20px 0; }
				#pdp .description ul { margin:20px 0; padding:0 0 0 25px; }
				.description li { list-style-type:disc; }
				#pdp .sort { float:right; }
				
				#pdp .specs .profile-intro { }
					#pdp .specs .profile-intro img { float:left; margin: 0 10px 20px 0; width:50px; }
					#pdp .specs .profile-intro h4 { margin: 0;}
					#pdp .specs .profile-intro .info { color:#666; font-size:12px;}
					
				#pdp .description-hidden { display:none; }
					
				#pdp .video-review { margin:0 0 20px 0; }
				#pdp .tech-specs table { border-collapse:collapse; margin:20px 0 40px 0; }
					#pdp .tech-specs table tr:nth-child(even) {background: #f0f0f0; }
					#pdp .tech-specs table tr:nth-child(odd) {background: #fff }
					#pdp .tech-specs table td { padding:3px 10px; vertical-align:top; }
					#pdp .tech-specs table td:nth-child(1) { font-weight:600; }
					
				#pdp .description .community-intro { border-bottom:solid 1px #f0f0f0; border-top:solid 1px #f0f0f0; padding:20px 0; }
					#pdp .description .community-intro h4 { margin:0 0 5px 0; }
				
	footer { clear:both; }

	
#test textarea { height:20px; margin:5px 0; width:480px; }
	#test textarea:focus { height:50px; }
#test .profile { float:left; margin:20px 0 0 0; width:200px; }	
#test .wall { float:left; margin:20px 20px 0 20px; width:500px; }		
#test .suggestion { background:#fff; box-shadow:0 0 3px rgba(0,0,0,0.4); display:none; margin:-12px 0 0 0; position:absolute; width:400px; }	
	#test .suggestion a { border-bottom:solid 1px #eee; clear:left; color:#000; display: block; line-height:14px; padding:10px; }
		#test .suggestion a:hover { background:#f4f4f4; }
	#test .suggestion img { float:left; margin:0 10px 0 0; width:50px; }	
	#test .suggestion .description { color:#999; font-size:11px; }	
	

/*				 Cart Button				 */

.cart-button:before {
	content: " ";
	height: 16px;
	position: absolute;
	width: 16px;
	background: url('http://www.competitivecyclist.com/images/competitivecyclist/icon-16-s91ed11c108.png') no-repeat;
	background-position: 0 -1064px;
	top: 8px;
	left: 28px;
}

.cart-button {
	position: relative;
}

.cart-button a {
	padding-left: 32px !important;
}

