@import "../helpers/variables";

.style-guide {
	
}

.color {
	li{
		list-style: none;
		float: left;
		width: 33%;
		div {
			width: 100%;
			height: 50px;
			border: 1px #f2f2f2 solid;
		}
		div.black{background-color: $black;}
		div.red{background-color: $red;}
		div.white{background-color: $white;}
		div.gray-light{background-color: $gray-light;}
		div.gray-lighter{background-color: $gray-lighter;}
		div.gray-lightest{background-color: $gray-lightest;}
		div.gray-dark{background-color: $gray-dark;}
		div.gray-darker{background-color: $gray-darker;}
		div.gray-darkest{background-color: $gray-darkest;}
		div.blue{background-color: $blue;}
		div.blue-light{background-color: $blue-light;}
		div.yellow{background-color: $yellow;}
	}
}

.light-button-bg {
	background: $black;
	padding: 20px;
}


.pdp {
	.wrapper {
		padding: 3.05em 10px;
	}
	.main-info-wrapper {
		max-width: 1400px;
		min-width: 1000px;
		margin: 0 auto;
		position: relative;
		height: 1000px;
	}
	.pdp-breadcrumb {margin-bottom: 2em;}
	.pdp-brand-logo {display: none;}
	hr {margin: 0;}
	.gallery{
		position: absolute;
		right: 370px;
		left: 80px;		
		float: left;
		.main-image {
			width:  80%;
			margin: 0 auto;
			display: block;
		}
	}
	.thumbs {
		small:first-child {
			margin-left: 44px;
			color: #999;
		}
		small:last-child {
			margin-left: 247px;
			color: #999;
		}
		ul {
			float: left;
			list-style: none;
			margin: 0;
			li {
				margin: 0.65em 0;
				border: 2px solid rgba(255, 255, 255, 0);
				padding: 2px;
				background: #fff;
				height: 50px;
				cursor: pointer;
				opacity: 0.5;
				height: 60px;
				width: 60px;
				img {width: 100%;}
				&:hover {
					border: 2px solid #f2f2f2;
					opacity: 1;
				}
				&:first-child, &:last-child {
					display: none;
					border: none;
					padding: 0;
					margin: 0;
					opacity: 1;
					margin-top: 10px;
					height: 36px;
					span {
						display: block;
						font-size: 20px;
						color: #fff;
						background-color: #bfbfbf;
						padding: 8px;
						border-radius: 2px;
						opacity: 0;
						transition: opacity 300ms ease, background-color 300ms ease;
						&:hover {
							background-color: #444;
						}
					}
				}
				&:nth-child(2) {
					border: 2px solid rgba(0, 0, 0, 1);
					opacity: 1;
				}
			}
			&:hover .gallery-arrow {
				opacity: 0;
			}
		}	
	}
	.brand-logo{
		float:left;
		width: 350px;
		margin-left: 1.5em;
		img {
			display: block;
			margin: 0 auto;
		}
	}
	.text-block {
		float: left;
		width: 626px;
		p:last-child {margin-bottom: 3.05em;}
	}
	.tech-specs {
		float: left;
		margin-left: 1.5em;
		.tech-specs-table {margin-top: -0.375em;}
		.row{
			padding: 0.375em 0.75em;
			width: 326px;
			&:nth-child(even) {
				background: $gray-lightest;
			}
			.name {
				float: left;
				font-weight: 500;
				width: 47%;
				margin-right: .579em; 
			}
			.data {
				float: left;
				width: 50%;
			}
		}
	}
	.form-fields {
		padding: 1.2em 0;
		.field-flat {
			padding: 0;
			label{
			}
		}
	}
	.buy-box {
		float:right;
		width: 350px;
		margin-left: 1.5em;
		small {
			font-size: 0.833em;
			color: #333;
			margin-top: -2px;
			display: block;		
		}
		.price {
			color: #cc0000;
			font-size: 1.2em;
			margin: .8em 0 1em 0;
			.reg-price {
				color: #999;
				text-decoration: line-through;
				padding: 0 .5em;
			}
			.percent-off {
				font-size: 0.833em;
				color: #999;
			}
		}
		.stars {
			span {
				font-size: 18px;
				margin: 0 -3px;
				&:nth-child(5) {
					color: #ccc;
				}
			}
			.review-number {
				font-size: 0.833em !important;
				color: #999;
				position: relative;
				top: -3px;
				padding: 7px;	
				&:hover {
					color: #333;
				}	
			}
		}
		.size-info {
			ul {
				list-style: none;
				margin: 0;
				li {
					margin: 0;
					float: left;
					padding: 0 .325em;
					line-height: 1em;
					margin-bottom: .75em;
					border-left: 1px solid #ccc;
					&:first-child {
						padding: 0 .325em 0 0;
						border-left: none;
					}
				}
			}
			span {
				font-size: .833em;
				padding-left: .75em;
				position: relative;
				top: -.325em;
				color: #999;
				display: none;
			}
		}
		.form-fields {
			padding: 0 !important;
		}
		.btn-flat {
			float: left;
		}
		.wish-list {
			float: left;
			position: relative;
			top: .325em;
			margin-left: .75em;
			span {
				font-size: 20px;
				position: relative;
				top: 3px;
				padding-right: .325em;
			}
		}
		.item-num {
			font-size: .694em;
			float: right;
			color: #555;
			margin-top: -4px;		
		}
		.targeters {
			margin-top: 1.5em;
			border-top: 1px solid #f2f2f2;
			padding-top: .75em;
			a {
				display: block;
				margin: .325em;
				span {
					font-weight: bold;
					text-transform: uppercase;
				}
			}
		}
		.share {
			border-top: 1px solid #f2f2f2;
			margin-top: .75em;
			padding: .75em 0;
			p {
				margin: 0;
				font-weight: bold;
				display: none;
			}
			ul {
				list-style: none;
				margin: 0;
				li {
					float: left;
					font-size: 20px;
					padding: 0 .75em;
					margin: 0;
					margin-top: .325em;
					cursor: pointer;
					color: #999;
					&:hover {
						color: #333;
					}
					&:first-child {
						padding-left: 0;
					}
				}
			}
			img {
				margin-top: .325em;
				display: none;
			}
		}
	}
	.chart {
		h3 {
			text-align: center;
			margin-bottom: 0;
		}
		.sub-head {
			text-align: center;
		}
		table {
			margin: 0 auto;
		}
	}
	.reviews {
		h3 {text-align: center;}
		ul {
			margin: 0 auto;
			list-style: none;
			width: 500px;
			li {
				margin: 0;
				float: left;
				padding: 0 1.5em;
				&:first-child {
					font-weight: bold;
					a {color: #333;}
				}
			}
		}
		.write-review {
			background: #f2f2f2;
			margin-bottom: 5em;
			.wrapper {
				width: 626px;
			}
			img {
				border-radius: 50%;
				width: 80px;
				float: left;
			}
			form {
				padding: 0 0 0 1.5em;
				float: left;
				width: 83%;
				textarea {
					min-height: 1.5em;
					height: 1.5em;
				}
			}
		}
	}
}

.plp {
	.plp-top-targeter {
		background-position: center top;
		background-repeat: no-repeat;
		height: 150px;
		margin: 0 auto;
	}
	.wrapper {
		padding: 0;
	}
	h1 {
		float: left;
		width: 800px;
	}
	.sortby {
		float: right;
		padding: 0;
		width: 180px;
		margin-top: -3px;
	}
	.close-filters {
		display: none;
		padding: 0;
		ul {
			margin: 0;
			li {
				margin: 0;
			}
		}
	}
	
	.filter {
		width: 187px;
		float: left;
		margin-right: 12px;
		padding-right: 12px;
		border-right: 1px #ccc solid; 
		> div {margin-bottom: 1.5em;}
		.link-list {
			li {
				cursor: pointer;
				border-bottom: 1px #fff solid;
				&:hover {border-bottom: 1px #ccc solid;}
				&:hover a {color: #333;}
			}
		}
		.brands {
			.filter-search {width: 170px; padding: 0;
				input {margin-bottom: 0; margin-top: .325em; background: #fff;}
			}
			li:first-child {
				margin-top: .75em;
			}
		}
		.colors {
			ul {
				margin: 0;
				li {
					margin: 0;
					margin-right: 3px;
					margin-bottom: 3px;
					float: left;
					height: 35px;
					width: 35px;
					background: #f2f2f2;
					&:nth-child(1) {background: black;}
					&:nth-child(2) {background: #369;}
					&:nth-child(3) {background: #cc0000;}
					&:nth-child(4) {background: #ccc;}
					&:nth-child(5) {background: #f93; margin-right: 0;}
					&:nth-child(6) {background: #ff0;}
					&:nth-child(7) {background: white; height: 34px; width: 34px; border: 1px solid #ccc;}
				}
			}
		}
		.rating {
			.link-list > li {height: 1.6em;}
			.star-ul {
				margin: 0;
				li {
					&:hover {border-bottom: none;}
					margin: 0;
					float: left;
					span {
						font-size: 20px;
						&.light {opacity: .3;}
					}
				}
			}
		}
		.view-all {font-size: .833em; font-weight: bold;}
		.gearhead {
			img {width: 50px; height: 50px; border-radius: 50%; float: left;}
			h6 {
				padding-top: 5px;
				padding-left: 60px;
			}
			p {
				padding-left: 60px;
				margin-bottom: .8125em;
				padding-bottom: .8125em;
				border-bottom: 1px solid #f2f2f2;
			}
			span {font-size: 16px; padding-right: 3px;}
		}
	}
	.product-list {
		float: left;
		width: 788px;
		.plp-product-targeter {
			margin-bottom: .75em;
		}
		.main-brands {
			text-align: center;
			margin: 0;
			margin-bottom: .75em;
			li {
				margin: 0;
				display: inline-block;
				a { padding: 0 1.5em;}
			}	
		}
		.products {
			margin: 0;
			> li {
				position: relative;
				float: left;
				width: 32%;
				margin: 0;
				margin-right: 12px;
				border: 1px solid rgba(255, 255, 255, 0);
				transition: border 300ms ease;
				&:hover {border: 1px solid #ccc;}
				&:nth-child(3n+3) {margin-right: 0;}
				img {padding: 6px; width: 95%; cursor: pointer;}
				p {margin-bottom: 0; text-align: center;}
				.color {
					position: absolute;
					width: 100%;
					text-align: center;
					top: 235px;
					display: block;
					li {
						display: inline;
						float: none;
						display: inline-block;
						width: 6px;
						height: 6px;
						border-radius: 50%;
						background: #ccc;
						margin: 2px;
						transition: background 100ms ease, width 100ms ease, height 100ms ease;
						cursor: pointer;
						&:hover {
							box-shadow: inset 0 0 0 2px #333;
							//width: 15px !important;
							//height: 15px !important;
							//border: 2px solid #333 !important;
						}
					}
					.more-color {
						width: 6px;
						height: 6px;						
						background-color: rgba(255, 255, 255, 0) !important;
						transition: all 100ms ease;
						position: relative;
						&:hover {box-shadow: none;}
						.plus {font-weight: bold; font-size: 16px; color: #ccc;}
						.more {
							display: none;
							font-size: 13px;
							position: relative;
							top: -6px;
						}
					}
				}
				&:hover .color > li {
					width: 18px;
					height: 18px;
					&:nth-child(1) {background: #222;}
					&:nth-child(2) {background: #c00;}
					&:nth-child(3) {background: #ccc;}
					&:nth-child(4) {background: #f93;}
					&:nth-child(5) {background: #369;}
					&:nth-child(6) {background: #fff; width: 17px; height: 17px; border: 1px solid #ccc;}
				}
				&:hover .color .more-color {
					width: 6px;
					height: 6px; 
				}
				&:hover .color .more-color .plus {
					display: none;
				}
				&:hover .color .more-color .more {
					display: block;
					font-size: 13px;
					position: relative;
					top: -6px;
				}
				.brand {font-weight: bold; margin-top: .65em;}
				.price {}
				.sale-p {color: #cc0000;}
				.reg-p {color: #555; text-decoration: line-through;}
				.name {font-size: .833em}
				.stars {
					width: 60px;
					margin: 0 auto;
					margin-top: -6px;
					li { 
						float: left;
						font-size: 12px;
						margin: 0;
					}
				}
				.credits {font-size: .833em; color: #cc0000;}
				.compare {font-weight: bold; opacity: 0; transition: opacity 300ms ease; margin-bottom: 12px;}
				&:hover .compare {opacity: 1;}
			}
		}
	}
	footer {margin-top: 3em;}	
}


.home {
	.plp-top-targeter {
		background-position: center top;
		background-repeat: no-repeat;
		height: 470px;
		margin: 0 auto;
	}
}












 
